# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Generated Isar / build_runner output
*.g.dart

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Isar local db (created at runtime)
*.isar
*.isar.lock
